<web-app>
    <servlet>
        <servlet-name>a</servlet-name>
        <servlet-class>forMyOwnPractice.seventh_sem_lab_all.lab7.classes.DemoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>a</servlet-name>
        <url-pattern>/testservlet</url-pattern>
    </servlet-mapping>
</web-app>
